body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

mat-toolbar {
  &.header-toolbar {
    height: 48px;
    margin-left: -5px;
    margin-right: -5px;
    border-bottom: 1px solid #d3d3d3;
    max-height: 64px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background: transparent;
    .page-title {
      margin-left: 15px;
      font-weight: 400;
      small {
        margin-left: 10px;
      }
    }
  }
}

.mat-menu-panel.project-selection {
  button.project-selection-item {
    &.selected {
      color: #5400e8;
    }
  }
}

.mat-list-base .mat-list-item {
  font-size: 14px;
}
.mat-list-base .mat-list-item .mat-list-icon {
  font-size: 18px;
}
.mat-list-base .mat-list-item .mat-list-text > *,
.mat-list-base .mat-list-option .mat-list-text > * {
  font-size: 15px;
  font-weight: 400 !important;
}

.mat-card {
  &.empty-item-card {
    margin-top: 40px;
    margin-bottom: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    .mat-card-header {
      border-bottom: 1px solid #d3d3d3;
    }
    .mat-card-content {
      p {
        margin: 15px;
      }
    }
  }
}

.form-container {
  .slide-toggle-container {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: left;
    margin: 10px 0px;
    .mat-hint {
      font-size: 70%;
      padding: 0 1em;
      display: block;
    padding: 10px 1em;
    }
  }
}