@import 'variables';

/*
Usage:
@include screen('tablet') {
    width: 90%;
  }

  @include screen('desktop') {
    width: 85%;
  }
*/
@mixin screen($size) {
  $desktop: '(min-width: 1024px)';
  $tablet: '(min-width: 768px) and (max-width: 1023px)';
  $mobile: '(max-width: 767px)';
  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  } @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}

/*
Usage:
.wrapper {
  @include center-block;
}
*/
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
