@import 'variables';
@import '~@angular/material/theming';

.text-yellow {
  color: $yellow-color;
}

@mixin typography-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  .text-primary {
    color: mat-color($primary);
  }
  .text-accent {
    color: mat-color($accent);
  }
  .text-warn {
    color: mat-color($warn);
  }
  a {
    color: mat-color($primary);
  }
}
