<mat-toolbar class="mat-toolbar header-toolbar">
  <mat-icon matListIcon svgIcon="consul"></mat-icon>
  <span class="page-title">Consul</span>
</mat-toolbar>
<mat-card class="empty-item-card">
  <mat-card-header>
    <div mat-card-avatar class="consul-logo"></div>
    <mat-card-title>Consul</mat-card-title>
    <mat-card-subtitle>Service discovery (managed)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Consul is a very popular service discovery and DNS solution. Dinivas can create Consul cluster and managed them
      for you.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary">Create Consul cluster</button>
  </mat-card-actions>
</mat-card>