<mat-toolbar class="mat-toolbar header-toolbar">
  <mat-icon matListIcon svgIcon="server"></mat-icon>
  <span class="page-title">Instances</span>
</mat-toolbar>
<mat-card class="empty-item-card info-card hide" *ngIf="dataSource.data.length === 0">
  <mat-card-header>
    <div mat-card-avatar class="instance-logo"></div>
    <mat-card-title>Free instance</mat-card-title>
    <mat-card-subtitle>Project free instance (managed)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Dinivas will create an instance and managed it for you.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary" [routerLink]="['/compute', 'instances', 'new']"
      queryParamsHandling="merge">Create
      Simple instance</button>
  </mat-card-actions>
</mat-card>
<div class="container" [class.hide]="!isLoadingResults && (dataSource && dataSource.data.length === 0)">
  <mat-card class="entity-table-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <dinivas-filter-bar [filterPlaceholder]="filterPlaceholder" [filters]="filters" [selection]="selection"
        [showAddButton]="showAddButton" addButtonLabel="Create instance" (filterChanged)="onFilterChanged($event)"
        (refreshData)="onRefreshDatas()" (dataChanged)="onDataChanged($event)" (addEntity)="onAddInstance()"
        (deleteSelection)="onDeleteEntity($event)">
      </dinivas-filter-bar>
      <div class="spinner-container" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
      </div>
      <table mat-table #table class="responsive full-width-table" [dataSource]="dataSource" matSort matSortActive="id"
        matSortDirection="desc" matSortDisableClear>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="select-cell">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="select-cell">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Datas -->
        <!-- Id Column -->
        <!-- <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container> -->

        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row"><span class="instance-name">{{row.id}}</span>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            {{ row.status}}
          </td>
        </ng-container>
        <!-- adresses Column -->
        <ng-container matColumnDef="adresses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresses</th>
          <td mat-cell *matCellDef="let row">
            <ul>
              <li *ngFor="let item of row.adresses">{{ item.addr }} ({{ item.type }})</li>
            </ul>
          </td>
        </ng-container>
        <!-- created_date Column -->
        <ng-container matColumnDef="created_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.created_date}}</td>
        </ng-container>
        <!-- Network Column -->
        <ng-container matColumnDef="network">
          <th mat-header-cell *matHeaderCellDef>Network</th>
          <td mat-cell *matCellDef="let row">
            <span>{{ row.network_name }} <small>({{ row.network_subnet_name }})</small></span>
          </td>
        </ng-container>
        <!-- Actions -->
        <ng-container matColumnDef="row-actions">
          <th mat-header-cell *matHeaderCellDef class="action-cell ">
          </th>
          <td mat-cell *matCellDef="let entity" class="row-action edit-action">
            <a class="delete" *ngIf="entity.techId" mat-icon-button class="has-text-grey-light delete-entity"
              (click)="onDeleteEntity(entity)">
              <mat-icon matTooltip="Delete" matTooltipPosition="left">delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'selected': isRowSelected(row)}"></tr>
      </table>
      <mat-paginator [length]="totalEntitiesCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>