<h1 mat-dialog-title *ngIf="!project">New project to add</h1>
<h1 mat-dialog-title *ngIf="project">Edit project</h1>
<form [formGroup]="projectForm" (ngSubmit)="submit(projectForm.value)">
  <div mat-dialog-content>
    <div class="mat-form-container" fxLayout="column">
      <mat-form-field class="" appearance="outline" >
        <mat-label>Name</mat-label>
        <input type="text" matInput formControlName="name" required>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>Code</mat-label>
        <input type="text" matInput formControlName="code" required>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>Cloud config</mat-label>
        <mat-select formControlName="cloud_provider" required>
          <mat-option *ngFor="let cloudprovider of cloudproviders;trackBy: trackByIdFn" [value]="cloudprovider">
            {{ cloudprovider.name }} ({{ cloudprovider.cloud }})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()" type="button">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="!isFormValid()">
      {{ project ? "Update" : "Create" }}
    </button>
  </div>
</form>