<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="left">
    <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="toggleSideNav()">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>
      Shepherd Cloud Platform
    </span>
  </div>
  <div class="right">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="logout" (click)="logout()">
        Logout
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<mat-sidenav-container class="global">
  <mat-sidenav #sidenav mode="over" [(opened)]="sideNavOpened">
    <mat-list>
      <h3 mat-subheader>Compute</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line>Instances</h4>
      </mat-list-item>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Networking</h3>
      <mat-list-item>
        <mat-icon mat-list-icon>note</mat-icon>
        <h4 mat-line>Private Network</h4>
      </mat-list-item>
      <mat-list-item>
          <mat-icon mat-list-icon>note</mat-icon>
          <h4 mat-line>Managed Radius</h4>
        </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="main-container">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>