$toolbar-height: 48px;

mat-toolbar {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 100;
  height: $toolbar-height;

  .left {}

  .right {}
}

mat-sidenav-container.global {
  padding-top: $toolbar-height;
  height: 100%;
  z-index: 99;

  mat-sidenav {
    padding-top: $toolbar-height;
  }

  .main-container {
    margin: 5px;
  }
}
