@import '../assets/styles/mixins';
$toolbar-height: 48px;

mat-toolbar {
  position: -webkit-sticky;
  position: fixed;
  top: 0;
  z-index: 100;
  height: $toolbar-height;

  .left {
    a.logo {
      font-size: 18px;
    }
  }

  .right {
    span.username {
      font-size: 16px;
    }
  }
}

mat-sidenav-container.global {
  padding-top: $toolbar-height;
  height: 100%;
  z-index: 99;

  .mat-sidenav {
    padding: $toolbar-height 0px;

    .mat-nav-list {
      .mat-list-item.active {
        color: #5400e8;
        background-color: rgba(#5400e8, 0.05);
        .mat-list-item-content {
        }
      }
    }
    a.mat-list-item {
      height: 44px;
    }

    .mat-drawer-inner-container {
      overflow: hidden;

      .available-items-nav-list {
        overflow: auto;
        height: 100%;
      }
    }
  }
  .mat-sidenav-content {
    // background: #fff;
  }

  .main-container {
    margin: 5px 5px 52px;
    overflow-x: hidden;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    border-top: 1px solid #d3d3d3;
    background-color: #fafafa;

    .container {
      display: flex;
      padding: 10px 20px;

      .resources-container {
        display: flex;
        justify-content: space-between;
        flex: 3;
        .provider {
          width: 200px;
          height: 25px;
          flex: 1;
          &.openstack {
            opacity: 0.3;
            background: url('../assets/icons/openstack-horizontal.svg')
              no-repeat center;
          }
        }
        .quota {
          flex: 1;
          margin: 0px 15px;
          span.type {
            margin-right: 10px;
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 500;
          }
          span.in-use {
            font-size: 16px;
            font-weight: 600;
            margin-right: 5px;
            color: #00695c;
          }
          span.limit {
            font-size: 14px;
            font-weight: 500;
            margin-left: 5px;
          }
        }
      }
      .copyright {
        font-weight: 400;
        font-size: 12px;
        line-height: 3em;
      }
    }
  }

  eco-fab-speed-dial {
    position: fixed;
    bottom: 29px;
    left: 60px;
    z-index: 10;
    @include transition(all 0.3s ease);
    &.sidenavopen {
      left: 280px;
    }
  }
}
