@import '../assets/styles/mixins';
@import '~@angular/material/theming';

@mixin app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  $accent: map-get($theme, accent);
  $accent-color: mat-color($accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);
  $foreground: map-get($theme, foreground);
  $foreground-color: mat-color($foreground, text);
  $toolbar-height: 48px;

  .app-container {

    *{
      //@include transition(color 0.3s ease);
      //@include transition(background-color 0.3s ease);
    }

    height: 100%;
    & > mat-toolbar {
      position: -webkit-sticky;
      position: fixed;
      top: 0;
      z-index: 100;
      height: $toolbar-height;

      .left {
        a.logo {
          font-size: 18px;
        }
      }

      .right {
        span.username {
          font-size: 16px;
        }
      }
    }
    & > mat-sidenav-container.global {
      padding-top: $toolbar-height;
      height: 100%;
      z-index: 99;

      .mat-sidenav.menu {
        padding: $toolbar-height 0px 0px;
        @media screen and (min-width: 1281px) {
          margin-bottom: $toolbar-height;
        }
        border-bottom: 1px solid mat-color($foreground, divider);

        .mat-nav-list {
          .mat-list-item {
            button.mat-icon-button {
              opacity: 0;
              @include transition(opacity 0.3s ease);
            }
            &:hover,
            &.pinned {
              button.mat-icon-button {
                opacity: 1;
              }
            }
            &.pinned {
              button.mat-icon-button {
                color: $accent-color;
              }
            }
          }
          &.available-items-nav-list {
            .mat-list-item {
              &.active {
                color: #fff;
                background-color: rgba($primary-color, 0.7);
                &.pinned {
                  button.mat-icon-button {
                    color: #fff;
                  }
                }
              }
            }
          }
          &.pinned-menu-list {
            padding-bottom: 10px;
            border-bottom: 2px solid mat-color($foreground, divider);
            .mat-list-item {
              &.active {
                color: $primary-color;
              }
            }
          }
        }
        .mat-list-base .mat-list-item .mat-list-text > * {
          font-weight: 400;
          font-size: 15px;
        }
        .mat-list-base .mat-list-item .mat-list-icon {
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
        a.mat-list-item {
          height: 40px;
        }

        .mat-drawer-inner-container {
          overflow-y: auto;

          .available-items-nav-list {
            // overflow: auto;
            // height: 100%;
          }
        }
      }
      .mat-sidenav.contextual {
        padding: $toolbar-height 0px 0px;
      }
      .mat-sidenav-content {
        // background: #fff;
      }

      .main-container {
        margin: 5px 5px 52px;
        overflow-x: hidden;
        height: 100%;
        overflow-y: auto;
      }

      eco-fab-speed-dial {
        position: fixed;
        bottom: 29px;
        right: 80px;
        z-index: 10;
        @include transition(all 0.3s ease);
        &.sidenavopen {
        }
      }
    }
  }
}
