<mat-toolbar class="mat-toolbar header-toolbar">
  <button mat-icon-button color="primary" [routerLink]="['/projects']" queryParamsHandling="merge">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="page-title">{{ project ? 'Edit project ' + project.name : 'New project'}}</span>
</mat-toolbar>
<div class="form-container">
  <form [formGroup]="projectForm" *ngIf="projectForm" (ngSubmit)="submit(projectForm.value)">
    <div class="mat-form-container" fxLayout="column">
      <mat-form-field class="" appearance="outline">
        <mat-label>Cloud provider configuration</mat-label>
        <mat-select formControlName="cloud_provider" [compareWith]="compareFn" required>
          <mat-option *ngFor="let cp of cloudproviders" [value]="cp">
            {{ cp.name }} ({{ cp.cloud }})
          </mat-option>
        </mat-select>
        <mat-hint>The existing cloud provider configuration (created by admin)</mat-hint>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>Project name</mat-label>
        <input type="text" matInput formControlName="name" required>
        <mat-hint>This is the display project name</mat-hint>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>Project code</mat-label>
        <input type="text" matInput formControlName="code" required>
        <mat-hint>The project code will be used to suffix most components</mat-hint>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" rows="3"></textarea>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>Public router name</mat-label>
        {{ cloudprovider?.id }}
        <mat-select formControlName="public_router" required>
          <mat-option *ngFor="let cloudprovider of cloudproviders;trackBy: trackByIdFn" [value]="cloudprovider">
            {{ cloudprovider.name }} ({{ cloudprovider.cloud }})
          </mat-option>
        </mat-select>
        <mat-hint>The name of the router to use as an external gateway</mat-hint>
      </mat-form-field>
      <mat-form-field class="" appearance="outline">
        <mat-label>Floating Ip pool</mat-label>
        <mat-select formControlName="floating_ip_pool" required>
          <mat-option *ngFor="let cloudprovider of cloudproviders;trackBy: trackByIdFn" [value]="cloudprovider">
            {{ cloudprovider.name }} ({{ cloudprovider.cloud }})
          </mat-option>
        </mat-select>
        <mat-hint>The floating ip pool where to retrieve floating IP</mat-hint>
      </mat-form-field>
      <div class="slide-toggle-container">
        <mat-slide-toggle formControlName="monitoring" color="accent">
          {{ projectForm?.value.monitoring ? 'Disable project monitoring' : 'Enable project monitoring'}}
        </mat-slide-toggle>
        <mat-hint>Prometheus will be installed at project level</mat-hint>
      </div>
      <div class="slide-toggle-container">
        <mat-slide-toggle formControlName="logging" color="accent">
          {{ projectForm?.value.logging ? 'Disable project logging' : 'Enable project logging'}}
        </mat-slide-toggle>
        <mat-hint>When enabled, you'll have to select the Logging stack to install</mat-hint>
      </div>
      <div class="logging-stack" *ngIf="projectForm?.value.logging">
        <h5>Select logging stack bellow</h5>
        <div class="stack-container">
          <mat-card (click)="loggingStack = 'graylog'" [class.selected]="loggingStack === 'graylog'">
            <mat-icon>check</mat-icon>
            <mat-card-header>
              <mat-card-title>Graylog</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="graylog"></div>
              <p>This will install Graylog stack</p>
            </mat-card-content>
          </mat-card>
          <mat-card class="" (click)="loggingStack = 'kibana'" [class.selected]="loggingStack === 'kibana'">
            <mat-icon>check</mat-icon>
            <mat-card-header>
              <mat-card-title>Kibana</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="kibana"></div>
              <p>This will install Kibana stack</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="actions">
      <button mat-button [routerLink]="['/projects']" queryParamsHandling="merge" type="button">Cancel</button>
      <button mat-raised-button color="primary" class="ml-10" type="submit" [disabled]="!isFormValid()">
        {{ project ? "Update" : "Create" }}
      </button>
    </div>
  </form>
</div>