<mat-toolbar class="mat-toolbar header-toolbar">
  <mat-icon matListIcon svgIcon="openshift"></mat-icon>
  <span class="page-title">Openshift</span>
</mat-toolbar>

<mat-card class="empty-item-card info-card">
  <mat-card-header>
    <div mat-card-avatar class="openshift-logo"></div>
    <mat-card-title>Openshift cluster</mat-card-title>
    <mat-card-subtitle>Openshift cluster (managed)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Openshift is a Docker orchestration solution (By RedHat). Dinivas can create an Openshift cluster manage it for you.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary">Create Openshift cluster</button>
  </mat-card-actions>
</mat-card>
<dinivas-need-your-contribution moduleName="openshift"></dinivas-need-your-contribution>
