@import '~@angular/material/theming';

@mixin select-project-dialog-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  $background: map-get($theme, background);

  .mat-card.info-card {
    padding-bottom: 10px;
    margin: 0 auto;
    max-width: 600px;

    .mat-card-header{
      .mat-card-avatar{
      }
    }

    .mat-card-content {
      p {
        margin: 20px;
        padding: 20px;
        line-height: 1.5;
        background-color: mat-color($background, background);
      }
    }
    .mat-card-actions {
      padding: 10px 5px;
    }
  }
  .component-container.select-project-dialog {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
  }
}
