<mat-toolbar class="mat-toolbar header-toolbar">
  <mat-icon matListIcon svgIcon="server"></mat-icon>
  <span class="page-title">Instances</span>
</mat-toolbar>
<div class="container">
  <mat-card class="entity-table-card">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content>
      <dinivas-filter-bar [filterPlaceholder]="filterPlaceholder" [filters]="filters" [selection]="selection"
        [showAddButton]="showAddButton" addButtonLabel="Create instance" (onFilterChanged)="filterChanged($event)" (onRefreshData)="refreshDatas()"
        (onAddEntity)="addInstance()" (onDeleteSelection)="deleteEntity($event)"></dinivas-filter-bar>
      <div class="spinner-container" *ngIf="isLoadingResults">
        <mat-spinner></mat-spinner>
      </div>
      <table mat-table #table class="responsive full-width-table" [dataSource]="dataSource" matSort matSortActive="id"
        matSortDirection="desc" matSortDisableClear>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef class="select-cell">
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row" class="select-cell">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>
        <!-- Datas -->
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row.name}}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">{{row.status}}</td>
        </ng-container>

        <!-- Adress Column -->
        <ng-container matColumnDef="adresses">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Adresses</th>
          <td mat-cell *matCellDef="let row">
            <p *ngFor="let addr of row.adresses"><small>{{ addr.type }}</small> {{ addr.addr }}</p>
          </td>
        </ng-container>
        <!-- SSH Keys Column -->
        <ng-container matColumnDef="keys">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>SSH Keys</th>
          <td mat-cell *matCellDef="let row">
            {{ row.keys }}</td>
        </ng-container>
        <!-- Updated date Column -->
        <ng-container matColumnDef="updated_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.updated_date | date:'medium' }}</td>
        </ng-container>
        <!-- Created date Column -->
        <ng-container matColumnDef="created_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.created_date | date:'medium' }}</td>
        </ng-container>
        <!-- Actions -->
        <ng-container matColumnDef="row-actions">
          <th mat-header-cell *matHeaderCellDef class="action-cell ">
          </th>
          <td mat-cell *matCellDef="let entity" class="row-action edit-action">
            <a class="delete" mat-icon-button class="has-text-grey-light delete-entity" *ngIf="entityCanDelete(entity)"
              (click)="deleteEntity(entity)">
              <mat-icon matTooltip="Delete" matTooltipPosition="left">delete</mat-icon>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'selected': isRowSelected(row)}"></tr>
      </table>
      <mat-paginator [length]="totalEntitiesCount" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions">
      </mat-paginator>
    </mat-card-content>
  </mat-card>
</div>