/* You can add global styles to this file, and also import other style files */

@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'assets/styles/layout';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html {
  height: 100%;
}

body {
  margin: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.confirm-dialog-panel {
  .mat-dialog-container {
    background: #5400E8;
    color: #fff;
    .mat-dialog-title {
      color: hsl(0, 0%, 71%);
    }
    button {
      &.confirm-button {
        font-weight: 600;
      }
    }
  }
}