/* You can add global styles to this file, and also import other style files */

@import 'assets/styles/material-theme.scss';

@import 'assets/styles/variables';
@import 'assets/styles/mixins';
@import 'assets/styles/layout';
@import 'assets/styles/typography';
@import 'assets/styles/dinivas';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body,
html {
  height: 100%;
}

body {
  margin: 0;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-container {
  mat-form-field.mat-form-field {
    font-size: 14px;
  }
}



.mat-form-field-appearance-outline .mat-form-field-prefix {
  top: inherit !important;
}
