<div class="project-status container">
  <div class="web-access-container">
    <a class="web-access consul" [href]=" 'http://' + project.code + '-consul-dashboard.' + project.root_domain"
      target="_blank">
      <span class="title">Consul</span>
      <mat-icon>open_in_new</mat-icon>
    </a>
    <a class="web-access prometheus" [href]="'http://prometheus.' + project.root_domain" target="_blank">
      <span class="title">Prometheus</span>
      <mat-icon>open_in_new</mat-icon>
    </a>
    <a class="web-access grafana" [href]="'http://grafana.' + project.root_domain" target="_blank">
      <span class="title">Grafana</span>
      <mat-icon>open_in_new</mat-icon>
    </a>
  </div>
</div>