@import '~@angular/material/theming';

@mixin cloud-image-radios-theme($theme) {
  $primary: map-get($theme, primary);
  $primary-color: mat-color($primary);
  $accent: map-get($theme, accent);
  $accent-color: mat-color($accent);
  $background: map-get($theme, background);
  $background-color: mat-color($background, card);
  $foreground: map-get($theme, foreground);
  $foreground-color: mat-color($foreground, text);

  h4 {
    font-weight: 400;
    font-size: 14px;
  }
  .images-container {
    position: relative;
    padding: 20px 20px 0px;
    margin: 10px 0px;
    border: 1px solid rgba(mat-color($foreground, secondary-text), 0.1);
    border-radius: 5px;
    span.label {
      position: absolute;
      top: -10px;
      left: -20px;
      margin: 0px;
      background-color: $background-color;
      transform: scale(0.75);
      padding: 0px 10px;
    }
    .images {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-bottom: 20px;
    }
  }
  .cloud-image {
    border: 1px solid rgba(mat-color($foreground, secondary-text), 0.1);
    border-radius: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    padding: 10px 24px 0px 80px !important;
    margin: 0px 10px 5px 0px;
    background-color: $background-color;
    cursor: pointer;
    transition: border-color 0.2s ease-in;
    min-width: 250px;
    max-width: 350px;
    //min-height: 98px;
    mat-icon.main-icon {
      position: absolute;
      left: 24px;
      top: 10px;
      margin-top: 0px;
      width: 36px;
      height: 36px;
      color: rgba($accent-color, 0.65);
      transition: color 0.5s ease-in;
    }
    .name {
      font-weight: 500;
      font-size: 13px;
      z-index: 2;
    }
    .size {
      font-weight: 600;
      font-size: 14px;
      padding: 5px;
      color: $accent-color;
      small {
        font-size: 10px;
        margin-left: 15px;
        color: #afafaf;
      }
    }
    .checkmark-overlay {
      display: inline-block;
      border-top: 36px solid $accent-color;
      border-left: 36px solid $background-color;
      width: 36px;
      height: 36px;
      opacity: 0;
      position: absolute;
      top: -1px !important;
      right: -1px;
      z-index: 1;
      transition: all 0.2s ease-in;
    }
    .checkmark {
      display: block;
      position: absolute;
      top: -1px !important;
      right: 1px;
      width: 20px;
      height: 20px;
      color: $background-color;
      opacity: 0;
      z-index: 2;
      transition: all 0.2s ease-in;
    }
    &:hover {
      border: 1px solid rgba(mat-color($foreground, secondary-text), 0.2);
    }
    &.selected {
      border-color: transparent;
      @include mat-elevation(2);
      .checkmark,
      .checkmark-overlay {
        opacity: 1;
      }
      mat-icon.main-icon {
        color: rgba($accent-color, 0.9);
      }
    }
  }
}
