<div class="architecture-type-container">
  <span class="label" *ngIf="label">{{ label }}</span>
  <div class="architecture-types">
    <div class="type" *ngFor="let type of architectureTypes" [class.selected]="type.code === architectureType"
      [class.disabled]="type.disabled" (click)="select(type)">
      <!-- <mat-icon class="main-icon" svgIcon="disc"></mat-icon> -->
      <span class="name">{{ type.label }}</span>
      <div class="architecture-type-icon" [class.singletier]="type.code == 'singletier'"
        [class.multitier]="type.code == 'multitier'" [class.docker]="type.code == 'docker'"
        [class.kubernetes]="type.code == 'kubernetes'"></div>
      <p class="description">{{ type.description }}</p>
      <div class="checkmark-overlay"></div>
      <mat-icon class="checkmark">check</mat-icon>
    </div>
  </div>
</div>