<mat-toolbar class="mat-toolbar header-toolbar">
  <mat-icon svgIcon="rabbitmq"></mat-icon>
  <span class="page-title">RabbitMQ</span>
</mat-toolbar>
<mat-card class="empty-item-card info-card">
  <mat-card-header>
    <mat-icon svgIcon="rabbitmq" mat-card-avatar color="primary"></mat-icon>
    <mat-card-title>RabbitMQ</mat-card-title>
    <mat-card-subtitle>AMQP broker (managed)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      RabbitMQ is an AMQP rmessaging broker used by many project . Dinivas can create a AMQP cluster and managed it
      for you
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary">Create RabbitMQ cluster</button>
  </mat-card-actions>
</mat-card>
<dinivas-need-your-contribution moduleName="rabbitmq"></dinivas-need-your-contribution>
