<mat-toolbar class="mat-toolbar header-toolbar">
  <mat-icon matListIcon>settings</mat-icon>
  <span class="page-title">Admin</span>
</mat-toolbar>
<nav mat-tab-nav-bar>
  <!-- <a mat-tab-link routerLinkActive #rlaDashboard="routerLinkActive" [active]="rlaDashboard.isActive"
    routerLink="dashboard">Dashboard</a> -->
  <a mat-tab-link routerLinkActive #rlaCloudprovider="routerLinkActive" [active]="rlaCloudprovider.isActive"
    routerLink="cloudproviders">Cloud providers</a>
  <a mat-tab-link routerLinkActive #rlaIam="routerLinkActive" [active]="rlaIam.isActive" routerLink="admin-iam">IAM</a>
  <a mat-tab-link routerLinkActive #rlaServerInfo="routerLinkActive" [active]="rlaServerInfo.isActive"
    routerLink="server-info">Server infos</a>
  <a mat-tab-link routerLinkActive #rlaTerraformState="routerLinkActive" [active]="rlaTerraformState.isActive"
    routerLink="terraform-state">Terraform state</a>
  <a mat-tab-link routerLinkActive #rlaServerBullDashboard="routerLinkActive" [active]="rlaServerBullDashboard.isActive"
    routerLink="bull-dashboard">Bull Jobs Fashboard</a>
  <a mat-tab-link routerLinkActive #rlaServerMonitorStatus="routerLinkActive" [active]="rlaServerMonitorStatus.isActive"
    routerLink="server-monitor-status">Server Monitor status</a>
</nav>
<div class="">
  <router-outlet></router-outlet>
</div>