<mat-toolbar class="mat-toolbar header-toolbar">
  <mat-icon matListIcon svgIcon="docker"></mat-icon>
  <span class="page-title">Docker Swarm</span>
</mat-toolbar>
<mat-card class="empty-item-card info-card">
  <mat-card-header>
    <div mat-card-avatar class="docker-swarm-logo"></div>
    <mat-card-title>Docker Swarm cluster</mat-card-title>
    <mat-card-subtitle>Swarm cluster (managed)</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Docker Swarm is a Docker (native) orchestration solution. Dinivas can create a Swarm cluster manage it for you.
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button color="primary">Create DockerSwarm cluster</button>
  </mat-card-actions>
</mat-card>