@import 'mixins';

.container {
  @include center-block;
  @include for-tablet-landscape-up {
    width: 90%;
    padding: 15px 10px;
  }
  @include for-big-desktop-up {
    width: 75%;
    padding: 20px 10px;
  }
}

.container-fluid {
  @include center-block;
  @include for-tablet-landscape-up {
    width: 90%;
    padding: 15px 10px;
  }
  @include for-big-desktop-up {
    width: 85%;
    padding: 20px 10px;
  }
}

.mr-5 {
  margin-right: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.mr-10 {
  margin-right: 10px !important;
}
.mr-15 {
  margin-right: 15px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.p-20 {
  padding: 20px !important;
}
