<mat-toolbar class="mat-toolbar header-toolbar">
  <button mat-icon-button color="primary" [routerLink]="['/projects']" queryParamsHandling="merge">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="page-title">{{ !project ? 'New project creation wizard' : 'Edit project wizard' }}</span>
  <span class="ml-15">{{ projectForm?.value.name | uppercase }}</span>
</mat-toolbar>

<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [completed]="projectPlanStepFinished">
    <div class="form-container">
      <div class="spinner-container" *ngIf="projectPlanInProgress">
        <mat-spinner></mat-spinner>
        <span>We are planning your project resources, wait a moment...</span>
      </div>
      <form [formGroup]="projectForm" *ngIf="projectForm" (ngSubmit)="submitPlanProject(projectForm.getRawValue())">
        <ng-template matStepLabel>Project informations - <span class="text-warn">This step will not create any
            resources</span></ng-template>
        <div class="mat-form-container" fxLayout="column">
          <mat-form-field class="" appearance="outline">
            <mat-label>Cloud provider configuration</mat-label>
            <mat-select formControlName="cloud_provider" [compareWith]="compareFn"
              (selectionChange)="onCloudProviderChanges()" required>
              <mat-option>None</mat-option>
              <mat-option *ngFor="let cp of cloudproviders" [value]="cp">
                {{ cp.name }} ({{ cp.cloud }})
              </mat-option>
            </mat-select>
            <mat-hint>The existing cloud provider configuration (created by admin)</mat-hint>
          </mat-form-field>
          <mat-form-field class="" appearance="outline">
            <mat-label>Project name</mat-label>
            <input type="text" matInput formControlName="name" required>
            <mat-hint>This is the display project name</mat-hint>
          </mat-form-field>
          <mat-form-field class="" appearance="outline">
            <mat-label>Project code</mat-label>
            <input type="text" matInput formControlName="code" required>
            <mat-hint>The project code will be used to suffix most components. You can't change it after project
              creation.</mat-hint>
          </mat-form-field>
          <mat-form-field class="" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" rows="3"></textarea>
          </mat-form-field>
          <mat-form-field class="" appearance="outline">
            <mat-label>Availability zone</mat-label>
            <input type="text" placeholder="Select availability zone" aria-label="Availability zone" matInput
              formControlName="availability_zone" [matAutocomplete]="auto_availability_zone" required>
            <mat-autocomplete #auto_availability_zone="matAutocomplete">
              <mat-option *ngFor="let az of availabilityZones" [value]="az.zoneName">
                {{ az.zoneName }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <mat-form-field class="" appearance="outline">
            <mat-label>Public router name</mat-label>
            <mat-select formControlName="public_router" required>
              <mat-option *ngFor="let router of availableRouters;trackBy" [value]="router.name">
                {{ router.name }}
              </mat-option>
            </mat-select>
            <mat-hint>The name of the router to use as an external gateway</mat-hint>
          </mat-form-field>
          <mat-form-field class="" appearance="outline">
            <mat-label>Subnet cidr</mat-label>
            <input type="text" matInput formControlName="management_subnet_cidr" required>
            <mat-hint>The main subnet cidr.</mat-hint>
          </mat-form-field>
          <mat-form-field class="" appearance="outline">
            <mat-label>Floating Ip pool</mat-label>
            <mat-select formControlName="floating_ip_pool" required>
              <mat-option *ngFor="let floatingIpPool of availableFloatingIpPools;trackBy" [value]="floatingIpPool.name">
                {{ floatingIpPool.name }}
              </mat-option>
            </mat-select>
            <mat-hint>The floating ip pool where to retrieve floating IP</mat-hint>
          </mat-form-field>
          <dinivas-cloud-image-radios *ngIf="cloudImages?.length > 0; else loading_bastion_image"
            formControlName="_bastion_cloud_image" label="Select bastion image to use" [cloudImages]="cloudImages">
          </dinivas-cloud-image-radios>
          <ng-template #loading_bastion_image>
            <p class="no-data-checkbox">Select a cloudprovider to display <strong>images</strong> for <strong>Bastion
                instance</strong></p>
          </ng-template>
          <dinivas-cloud-flavor-radios *ngIf="cloudFlavors?.length > 0; else loading_bastion_flavor"
            formControlName="_bastion_cloud_flavor" label="Select bastion flavor to use" [cloudFlavors]="cloudFlavors">
          </dinivas-cloud-flavor-radios>
          <ng-template #loading_bastion_flavor>
            <p class="no-data-checkbox">Select a cloudprovider to display <strong>flavors</strong> for <strong>Bastion
                instance</strong></p>
          </ng-template>
          <!-- <h5>Bastion SSH Key</h5>
          <button type="button" mat-button (click)="addSSHKey()">New SSH key</button> -->
          <div class="slide-toggle-container">
            <mat-slide-toggle formControlName="enable_proxy" color="accent">
              Enable proxy instance?
            </mat-slide-toggle>
            <mat-hint>A proxy will expose services to external network. This will preserve your public (or floating) Ips
            </mat-hint>
          </div>
          <ng-container *ngIf="projectForm?.value.enable_proxy">
            <dinivas-cloud-flavor-radios *ngIf="cloudFlavors?.length > 0; else loading_proxy_flavor"
              formControlName="_proxy_cloud_flavor" label="Select proxy flavor to use" [cloudFlavors]="cloudFlavors">
            </dinivas-cloud-flavor-radios>
            <ng-template #loading_proxy_flavor>
              <p class="no-data-checkbox">Select a cloudprovider to display <strong>flavors</strong> for <strong>Proxy
                  instance</strong></p>
            </ng-template>
          </ng-container>
          <div class="slide-toggle-container">
            <mat-slide-toggle formControlName="monitoring" color="accent">
              Enable project monitoring?
            </mat-slide-toggle>
            <mat-hint>Prometheus will be installed at project level</mat-hint>
          </div>
          <dinivas-cloud-flavor-radios
            *ngIf="(projectForm?.value.monitoring && cloudFlavors?.length > 0); else loading_prometheus_flavor"
            formControlName="_prometheus_cloud_flavor" label="Select prometheus flavor to use"
            [cloudFlavors]="cloudFlavors"></dinivas-cloud-flavor-radios>
          <ng-template #loading_prometheus_flavor>
            <p class="no-data-checkbox" *ngIf="projectForm?.value.monitoring">Select a cloudprovider to display
              <strong>flavors</strong> for
              <strong>Prometheus instance</strong></p>
          </ng-template>
          <div class="slide-toggle-container">
            <mat-slide-toggle formControlName="logging" color="accent">
              Enable project logging?
            </mat-slide-toggle>
            <mat-hint>When enabled, you'll have to select the Logging stack to install</mat-hint>
          </div>
          <div class="logging-stack" *ngIf="projectForm?.value.logging">
            <h4>Select logging stack bellow</h4>
            <div class="stack-container">
              <mat-card (click)="loggingStack = 'graylog'" [class.selected]="loggingStack === 'graylog'">
                <mat-card-header>
                  <mat-card-title>Graylog</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="graylog"></div>
                  <p>This will install Graylog stack</p>
                </mat-card-content>
                <div class="checkmark-overlay"></div>
                <mat-icon class="checkmark">check</mat-icon>
              </mat-card>
              <mat-card class="" (click)="loggingStack = 'kibana'" [class.selected]="loggingStack === 'kibana'">
                <mat-card-header>
                  <mat-card-title>Kibana</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  <div class="kibana"></div>
                  <p>This will install Kibana stack</p>
                </mat-card-content>
                <div class="checkmark-overlay"></div>
                <mat-icon class="checkmark">check</mat-icon>
              </mat-card>
            </div>
          </div>

        </div>
        <div class="actions">
          <button mat-button [routerLink]="['/projects']" queryParamsHandling="merge" type="button">Cancel</button>
          <button type="button" mat-button matStepperNext class="ml-10" *ngIf="project?.id && isFormValid()"
            (click)="showProjectOutput()">Show project
            infra infos</button>
          <button type="submit" mat-button matStepperNext color="primary" class="ml-10"
            [disabled]="!isFormValid() || (isFormValid() && !projectForm.dirty)">Plan
            project
            resources</button>
        </div>
      </form>
    </div>
  </mat-step>
  <mat-step [completed]="projectApplyStepFinished" [editable]="!showingDirectOutput">
    <div class="apply-container">
      <div class="spinner-container" *ngIf="projectApplyInProgress">
        <mat-spinner></mat-spinner>
        <span>We are creating your project resources, wait a moment...</span>
      </div>
      <ng-template matStepLabel>Check and validate resources to be created - <span class="text-warn">This step will
          not create any resources</span>
      </ng-template>
      <div class="tf-plan-resources-container">
        <dinivas-terraform-representation [planRepresentation]="terraformPlanEvent?.planResult">
        </dinivas-terraform-representation>
      </div>
      <div class="actions">
        <button mat-button [routerLink]="['/projects']" queryParamsHandling="merge" type="button">Cancel</button>
        <button mat-button matStepperPrevious class="ml-10">Back</button>
        <button mat-raised-button matStepperNext color="primary" (click)="submitApplyProjectPlan(projectForm.getRawValue())"
          class="ml-10">{{ !project?.id ? 'Save & ': 'Update & ' }} apply resources changes</button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <div>
      <ng-template matStepLabel>View project infrastructure informations
      </ng-template>
      <mat-list *ngIf="projectApplyStepFinished" dense>
        <mat-list-item *ngFor="let output of terraformStateOutputs | keyvalue">
          <mat-icon *ngIf="output.value.sensitive && !shouldShowSensitiveData[output.key]"
            (click)="shouldShowSensitiveData[output.key] = !shouldShowSensitiveData[output.key]">visibility</mat-icon>
          <mat-icon *ngIf="output.value.sensitive && shouldShowSensitiveData[output.key]"
            (click)="shouldShowSensitiveData[output.key] = !shouldShowSensitiveData[output.key]">visibility_off
          </mat-icon>
          <mat-icon *ngIf="!output.value.sensitive">info</mat-icon>
          <h3 matLine> {{ output.key }}:<strong class="ml-10"
              *ngIf="!output.value.sensitive || (output.value.sensitive && shouldShowSensitiveData[output.key])">{{output.value.value}}</strong>
          </h3>
        </mat-list-item>
      </mat-list>
    </div>
    <div class="actions">
      <button mat-raised-button color="primary" [routerLink]="['/projects']">Done !</button>
    </div>
  </mat-step>
</mat-vertical-stepper>






<!-- <form [formGroup]="projectForm" (ngSubmit)="submit(projectForm.value)">
  <div mat-dialog-content>

  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="cancel()" type="button">Cancel</button>
    <button mat-button color="primary" type="submit" [disabled]="!isFormValid()">
      {{ project ? "Update" : "Create" }}
    </button>
  </div>
</form> -->