<mat-card class="need-your-contribution container">
  <mat-card-content>
    <h2>How to contribute to {{ moduleName | uppercase }} module in Dinivas</h2>
    <p>Following step are required to implement this module integration in <strong>Dinivas</strong>
      <br>
      You can contribute in one of the requirement project or if you want in the whole module prerequisite.
    </p>
    <mat-divider></mat-divider>
    <h3>Ansible role that install <strong>{{ moduleName }}</strong></h3>
    <a target="_blank" [href]="'https://github.com/dinivas/ansible-role-' + moduleName"
      class="git-repo">{{ 'https://github.com/dinivas/ansible-role-' + moduleName }}</a>
    <p>One of the first step is to write (then submit) an <strong>Ansible</strong> role that install
      <strong>{{ moduleName | uppercase }}</strong> on a given host<br>Please refer to other existing role if needed.
    </p>
    <mat-divider></mat-divider>
    <h3>Packer project to create a pre built image of <strong>{{ moduleName | uppercase }}</strong></h3>
    <a target="_blank" [href]="'https://github.com/dinivas/packer-' + moduleName"
      class="git-repo">{{ 'https://github.com/dinivas/packer-' + moduleName }}</a>
    <p>The packer project should use the previous <strong>Ansible role</strong> to build a provider(Openstack, DigitalOcean, AWS, Gcp)
      image.</p>
    <mat-divider></mat-divider>
    <h3>Terraform Module to create infrastructure for <strong>{{ moduleName }}</strong></h3>
    <a target="_blank" [href]="'https://github.com/dinivas/terraform-openstack-' + moduleName"
      class="git-repo">{{ 'https://github.com/dinivas/terraform-openstack-' + moduleName }}</a>
    <p>A <strong>terraform module</strong> is then required to help Dinivas to create the infrastructure needed for
      <strong>{{ moduleName | uppercase }}</strong></p>
    <mat-divider></mat-divider>
    <h3>Dinivas Backend (Api)</h3>
    <a target="_blank" href="https://github.com/dinivas/dinivas" class="git-repo">https://github.com/dinivas/dinivas</a>
    <p>Please make a Pull Request to <strong>dinivas</strong> in the folder <strong>apps/api</strong> to handle
      {{ moduleName | uppercase }} module service, controller, repository</p>
    <mat-divider></mat-divider>
    <h3>Dinivas Frontend (Console)</h3>
    <a target="_blank" href="https://github.com/dinivas/dinivas" class="git-repo">https://github.com/dinivas/dinivas</a>
    <p>Please make a Pull Request to <strong>dinivas</strong> in the folder <strong>apps/console</strong> to setup a
      Wizard to create {{ moduleName | uppercase }} module. You can refer to existing modules</p>
  </mat-card-content>
</mat-card>